[submodule "modules/TopbarPlus"]
	path = modules/TopbarPlus
	url = https://github.com/1ForeverHD/TopbarPlus.git
[submodule "UIShelf"]
	path = modules/UIShelf
	url = https://github.com/canary-development/UIShelf
