.md-grid {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

[dir=ltr] .md-sidebar--primary .md-sidebar__scrollwrap {
    left: env(safe-area-inset-left);
}

[dir=rtl] .md-sidebar--primary .md-sidebar__scrollwrap {
    right: env(safe-area-inset-right);
}