name: Documentation

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/documentation.yml"
      - "docs/**"
      - "mkdocs.yml"

env:
  VERSION: 1.x

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          sparse-checkout: |
            docs

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV

      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: ~/.cache
          restore-keys: |
            mkdocs-material-

      - run: pip install mkdocs-material mike

      - name: Fetch gh-pages branch
        run: git fetch origin gh-pages --depth=1

      - name: Deploy latest documentation
        run: mike deploy $VERSION --branch gh-pages --push
